body {
  text-align: center;
  padding: 20px;
}
.artists {
  padding-top: 20px;
}
.artists img {
  max-width: 100%;
  max-height: 200px;
}
.login-button img {
  width: 400px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -200px;
  cursor: pointer;
}
.alerts {
  opacity: 1;
}
.alerts.ng-hide-add,
.alerts.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}
.alerts.ng-hide-add.ng-hide-add-active,
.alerts.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.alerts.ng-hide {
  opacity: 0;
}
